$brand-purple: #912da2;
$brand-purple--light: #a421bb;
$brand-purple--placeholder: #fce3ff;

$gray: #929292;
$gray--placeholder: #e6e6e6;

$green--info: #49ca77;
$green--info-background: #ebf9ea;

$red--info: #ca4949;
$red--info-background: #f9eaea;
